<div class="swiper js-realty-hero-swiper">
  <div class="swiper-scrollbar realty-hero-swiper-scrollbar"></div>
  <div class="swiper-pagination realty-hero-swiper-pagination"></div>
  <div class="swiper-wrapper">
    <!-- Slide 1 -->
    <div class="realty-hero-slide swiper-slide">
      <img
        class="realty-hero-slide-img"
        src="./img/realty/hero/realty-slide1.jpg"
        width="242"
        height="143"
        alt=""
      />
    </div>
    <!-- Slide 2 -->
    <div class="realty-hero-slide swiper-slide">
      <img
        class="realty-hero-slide-img"
        src="./img/realty/hero/realty-slide2.jpg"
        width="242"
        height="143"
        alt=""
      />
    </div>
    <!-- Slide 3 -->
    <div class="realty-hero-slide swiper-slide">
      <img
        class="realty-hero-slide-img"
        src="./img/realty/hero/realty-slide3.jpg"
        width="242"
        height="143"
        alt=""
      />
    </div>
    <!-- Slide 4 -->
    <div class="realty-hero-slide swiper-slide">
      <img
        class="realty-hero-slide-img"
        src="./img/realty/hero/realty-slide4.jpg"
        width="242"
        height="143"
        alt=""
      />
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="realty-swiper-btn-wrapper">
    <div class="realty-swiper-btn-prev">
      <svg class="realty-swiper-btn-icon" height="32" width="44">
        <use href="./icons-sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="realty-swiper-btn-next">
      <svg class="realty-swiper-btn-icon" height="32" width="44">
        <use href="./icons-sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</div>
