<section id="realty-hero" class="realty-hero">
  <div class="container">
    <div class="realty-hero-title-wrapper">
      <h1 class="realty-hero-title">Profitable Investment in Luxury</h1>
      <p class="realty-hero-text">
        Buy, Renovate, and Sell Villas in Dubai with Professionals
      </p>
      <button class="btn">
        <span class="btn-text">Get a consultation</span>
        <div class="btn-icon-wrapper">
          <svg class="btn-icon" height="25" width="25">
            <use href="./icons-sprite.svg#icon-arrow-btn"></use>
          </svg>
        </div>
      </button>
      <div class="realty-hero-keywords-wrapper">
        <p class="realty-hero-keywords"><span>investment in villas</span></p>
        <p class="realty-hero-keywords"><span>luxury renovation</span></p>
        <p class="realty-hero-keywords"><span>real estate</span></p>
        <p class="realty-hero-keywords"><span>commercial real estate</span></p>
      </div>
    </div>
    <div class="realty-hero-slider-wrapper">
      <load ="partials/realty/realty-hero/realty-hero-slider.html" />
    </div>
  </div>
</section>
